<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.main">

    <dist:module
        dist:instant="true" dist:onDemand="false"
        dist:title="@string/title_main">
        <dist:fusing dist:include="true" />
    </dist:module>
    <application>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                android:order="1">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="instantapppoc.com" />
                <data android:pathPrefix="/main" />
                <data android:scheme="https" />
                <data android:scheme="http" />

            </intent-filter>
            <meta-data
                android:name="default-url"
                android:value="https://instantapppoc.com/main" />
        </activity>
    </application>
</manifest>